*{
	margin:0;
	border:0;
    padding:0;
    box-sizing: border-box;
    color: white;
}

body{
	font-family: "Nunito", arial, helvetica, sans-serif;
    font-size: 30px;
    background-color: #004C32;
}

#painel{
    background-color: #006341;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4%;
    border-radius: 10px;
    -webkit-box-shadow: -12px 14px 39px 4px #00281B; 
    box-shadow: -12px 14px 39px 4px #00281B;
}

p{
    margin-top: 30px;
}

.botaoDeslizante{
    position: relative;
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.658);
    /*outline: none;*/
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(85, 85, 85, 0.2);
    transition: .4s;
}

.botaoDeslizante::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(204, 204, 204);
    border-radius: 100%;
    top: 0;
    left: 0;
    transform: scale(1.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

.botaoDeslizante:checked::before{
    left: 25px;
}

input:checked{
    background-color: black;
}

.textoTemperatura{
    color: white;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    background-color: #006341;
    font-size: 1cm;
}